/vendor
/build
composer.lock
.phpunit.result.cache
.phpunit.cache
/coverage
clover.xml
.php-cs-fixer.cache
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php
/.idea
/.fleet
/.vscode
phpstan.neon
testbench.yaml
